.bing-container
  z-index: 9
  position: fixed
  left: 0
  top: 0
  bottom: 0
  right: 0
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-color: #000000b0
  *
    user-select: none
  .main
    width: min(100vw, 1300px)
    border-radius: 6px
    display: none
    grid-template-rows: repeat(2,1fr)
    grid-template-columns: repeat(3, 1fr)
    background-color: transparent
    .item
      position: relative
    .item:hover
      .icon
        display: flex    
    img
      object-fit: cover
      width: 100%
      cursor: pointer
    .icon
      width: 2em
      height: 2em
      display: none
      align-items: center
      justify-content: center
      border-radius: 50%
      background-color: black
      color: white
      position: absolute
      right: 0.5em
      top: 0.5em
      font-size: 1.5em
      cursor: pointer      
  .main[data-count='6']
    display: grid
    padding: 1em
    grid-gap: 1em  
    img.active
      position: fixed
      top: 0
      right: 0
      left: 0
      bottom: 0
      width: 100vw
      height: 100vh
      z-index: 999
    .icon.active
      position: fixed
      top: 1em
      right: 1em
      z-index: 1000
