.cur-clock-container
  position: fixed
  top: 14px
  left: 14px
  border-radius: 4px
  padding: 6px 12px
  background-color: #c1dbc336
  color: #eee
  opacity: 0.4
  &[data-size="sm"]
    font-size: 1rem
  &[data-size="md"]
    font-size: 1.4rem
  &[data-size="lg"]
    font-size: 1.8rem
  &:hover
    opacity: 1
    transform: scale(1.2)
    transition: all 0.4s ease-in-out
