.info-container
  margin: 4rem 0 0 auto
  padding: 1rem
  color: #333
  .info
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 1rem
    h3.h3
      font-size: 1rem
  p
    text-align: right
  .keys
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    span
      min-width: 1.2rem
      font-size: 1.1rem
      text-align: center
      // color: white
      padding: 12px
      margin: 12px
      background-color: #d5e3e9
      border-radius: 6px
  .content-me
    margin-top: 2rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    p
      text-align: center
    .mail
      font-size: 1.6rem
      padding: 1rem
      padding-top: 2rem
      a
        color: #000
    .or
      &::after,&::before        
        content: ""
        display: inline-block
        margin: 0 10px
        height: 1px
        width: 8rem
        background-color: #e7e1e1
        vertical-align: middle

  .links
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.3rem
    a
      padding: 1rem
      color: black