.slider
  height: 8px
  background-color: orange
  border-radius: 8px
  width: 200px
  &::after
    content: ""
    display: block
    position: relative
    left: 0
    top: 0
    background-color: blue
    height: 8px
    width: var(--v)
    border-radius: 8px
